@use "./colors.scss" as colors;

header {
	.burger-nav-dropdown {
		display: none;
	}
	.header-container {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		.header-logo {
			outline: none; /* Removes the default focus outline */
			border: 2px solid transparent; /* Initial transparent border */
			transition: border-color 0.3s ease; /* Smooth transition */
		}
		.header-logo > img {
			height: 80px;
			padding: 2px;
		}
		.header-logo:focus {
			border-radius: 5px;
			border: 3px dashed colors.$color5;
		}
		nav {
			.navigation-menu {
				display: flex;
				justify-content: flex-end;
				list-style-type: none;
				padding: 0;
				margin-left: auto;

				li {
					display: inline;
					a {
						text-decoration: none;
						color: colors.$color4;
						text-transform: uppercase;
						font-size: 2rem;
						display: inline-block;
						padding: 4px 10px;

						outline: none;
						border: 2px solid transparent;
						transition: border-color 0.3s ease;

						&:hover {
							color: colors.$color5;
						}
					}
					a:focus {
						border-radius: 5px;
						border: 3px dashed colors.$color5;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	header {
		display: flex;
		justify-items: center;
		align-items: center;
		margin-top: 2rem;
		.burger-nav-dropdown {
			position: relative;
			display: inline-block;
			width: 60px;
			padding: 0.5rem;
			margin-left: 0.5rem;
			background: none;
			outline: none;
			border: none;
			cursor: pointer;
			> img {
				width: 100%;
			}
			.burger-dropdown-content {
				font-family: "Teko", sans-serif;
				font-optical-sizing: auto;
				font-weight: weight;
				font-style: normal;
				font-size: 2rem;
				text-align: left;
				display: none;
				font-size: 1.5rem;
				position: absolute;
				background-color: colors.$color3;
				min-width: 180px;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				z-index: 1;
			}
			.burger-dropdown-content a {
				color: colors.$color6;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
			}
			.burger-dropdown-content a:hover {
				background-color: #f1f1f1;
			}
			.burger-dropdown-content a:focus {
				background-color: colors.$color5;
			}
		}
		.burger-nav-dropdown.active .burger-dropdown-content {
			display: block;
		}
		.burger-nav-dropdown.active img {
			filter: brightness(0.5); /* Darken the icon */
		}

		.burger-nav-dropdown:focus {
			border-radius: 5px;
			border: 3px dashed colors.$color5;
		}
		.header-container {
			justify-content: flex-start;
			nav {
				.navigation-menu {
					display: none;
				}
			}
		}
	}
}
