@use "./colors.scss" as colors;

main {
	.previousCatCont-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		> h3 {
			font-size: 1.5rem;
			text-align: center;
			font-weight: 600;
			color: colors.$color7;
		}
		.previousCon-star-img {
			width: 20%;
			padding: 1rem;
		}
		.previousCatCon-moments-container {
			margin: 2rem 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			justify-items: center;
			align-items: center;
			border-radius: 5px;
			border: 3px solid colors.$color7;
			background-color: colors.$color2;
			.previousCatCon-h3 {
				background-color: colors.$color7;
				color: colors.$color3;
				font-size: 2rem;
				font-weight: 600;
				line-height: 2rem;
				width: 100%;
				text-align: center;
				padding: 1rem 0;
				> span {
					font-weight: normal;
					letter-spacing: 1px;
				}
			}
			.previousCatcon-images {
				display: flex;
				justify-content: center;
				align-items: center;
				justify-items: center;
				padding: 0.5rem;
				gap: 0.5rem;
				> img {
					width: 12.5rem;
				}
				#gif-6,
				#gif-7 {
					height: 12.5rem;
				}
				#gif-7 {
					width: 20rem;
				}
			}
		}
	}
	.previousCon-message {
		text-align: center;
		.previousCon-message-p1 {
			font-size: 2rem;
		}
		.previousCon-message-p2 {
			font-size: 1.5rem;
			font-weight: 500;
			color: colors.$color7;
		}
		.previousCon-writting-img {
			padding: 1rem;
			width: 20%;
		}
	}
	.btn-register {
		margin-top: 1.5rem;
		text-decoration: none;
		background-color: colors.$mainColor;
		color: colors.$color4;
		font-size: 2rem;
		padding: 0.5rem 1rem;
		border-radius: 5px;
		&:focus {
			outline: none;
		}
		.btn-innerText {
			display: inline-block;
			padding: 1px 10px;
			outline: none;
			border: 2px solid transparent;
			transition: border-color 0.3s ease;
		}
	}
	.btn-register:focus .btn-innerText {
		border-radius: 5px;
		border: 3px dashed colors.$color5;
	}
}

@media (max-width: 850px) {
	main {
		.previousCatCont-container {
			.previousCon-star-img {
				width: 40%;
			}
			.previousCatCon-moments-container {
				width: 100%;
				.previousCatcon-images {
					padding: 1rem;

					gap: 1rem;
					> img {
						width: 10rem;
					}
					#gif-6,
					#gif-7 {
						height: 10rem;
					}
					#gif-7 {
						width: 20rem;
					}
				}
			}
			.previousCon-writting-img {
				width: 30%;
			}
		}
	}
}

@media (max-width: 800px) {
	main {
		.previousCatCont-container {
			.previousCatCon-moments-container {
				.previousCatcon-images {
					padding: 1rem;

					gap: 1rem;
					> img {
						width: 10rem;
					}
					#gif-6,
					#gif-7 {
						height: 10rem;
					}
					#gif-7 {
						width: 20rem;
					}
				}
			}
			.previousCon-writting-img {
				width: 30%;
			}
		}
	}
}

@media (max-width: 768px) {
	main {
		.previousCatCont-container {
			.previousCon-star-img {
				width: 40%;
			}
			.previousCatCon-moments-container {
				.previousCatcon-images {
					display: flex;
					justify-content: center;
					align-items: center;
					justify-items: center;
					padding: 0.5rem;
					gap: 0.5rem;
					> img {
						width: 12.5rem;
					}
					#gif-6,
					#gif-7 {
						height: 12.5rem;
					}
					#gif-7 {
						width: 20rem;
					}
				}
			}
			.previousCon-writting-img {
				width: 30%;
			}
		}
	}
}

@media (max-width: 650px) {
	main {
		.previousCatCont-container {
			.previousCatCon-moments-container {
				width: 90%;
				.previousCatcon-images {
					flex-direction: column;

					gap: 1rem;
					> img {
						width: 20rem;
					}
					#gif-6,
					#gif-7 {
						height: 20rem;
					}
					#gif-7 {
						width: 30rem;
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	main {
		.previousCatCont-container {
			.previousCatCon-moments-container {
				width: 90%;
				.previousCatcon-images {
					flex-direction: column;

					gap: 1rem;
					> img {
						width: 10rem;
					}
					#gif-6,
					#gif-7 {
						height: 10rem;
					}
					#gif-7 {
						width: 15rem;
					}
				}
			}
		}
	}
}
