@use "./colors.scss" as colors;

main {
	h1 > img {
		width: 15%;
	}
	.registration-container {
		display: flex;
		justify-content: space-evenly;
		justify-items: center;
		align-items: center;
		width: 100%;
		.registration-img {
			padding: 2rem;
			text-align: center;
			width: 50%;

			img {
				width: 80%;
			}
		}
		.form-container {
			display: flex;
			flex-direction: column;
			background-color: colors.$color2;
			padding: 2rem;
			width: 50%;

			.h2-registration {
				font-size: 3rem;
				color: colors.$color7;
			}

			form {
				display: flex;
				flex-direction: column;
				.form-titles {
					font-size: 2rem;
				}
				label {
					font-size: 1.5rem;
				}
				label,
				input[type="text"] {
					padding: 0.4rem 0;
					font-size: 1.5rem;
					width: 100%;
					border-radius: 5px;
				}
				.radio-group {
					display: flex;
					flex-direction: column;
					.radio-item {
						display: flex;
						align-items: center;
						gap: 1rem;
						justify-content: start;
						margin-bottom: 1rem;
						outline: none;
					}
					.radio-item label {
						font-size: 1.7rem;
						cursor: pointer;
					}
					.radio-item img {
						width: 20%;
						cursor: pointer;
						outline: none;
					}
					.radio-item:focus {
						border-radius: 5px;
						border: 3px dashed colors.$mainColor;
						padding: 0 0.5rem;
					}
				}
				#catName {
					border-radius: 5px;
					border: 1px solid colors.$color2;
					margin-bottom: 1rem;
					padding-left: 0.5rem;
				}
				#catName:focus {
					border-radius: 5px;
					border: 3px dashed colors.$mainColor;
					outline-style: none;
				}
				#catvatar {
					font-weight: bold;
				}
				.btn-register {
					font-family: "Teko", sans-serif;
					font-optical-sizing: auto;
					font-weight: weight;
					font-style: normal;
					text-decoration: none;
					background-color: colors.$mainColor;
					color: colors.$color4;
					font-size: 2rem;
					padding: 0.5rem 1rem;
					border-radius: 5px;
					border: none;
					align-self: center;

					cursor: pointer;

					&:focus {
						outline: none;
					}
					.btn-innerText {
						display: inline-block;
						padding: 1px 10px;
						outline: none;
						border-radius: 5px;
						border: 2px solid transparent;
						transition: border-color 0.3s ease;
					}
				}
				.btn-register:focus .btn-innerText {
					border-radius: 5px;
					border: 3px dashed colors.$color5;
				}
			}
			.popup {
				display: none; /* Hidden by default */
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 500px;
				padding: 20px;
				background-color: white;
				border: 1px solid #ccc;
				border-radius: 5px;
				box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
				z-index: 1000;
			}
			.popup.active {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.popup.active > div {
				display: flex;
				justify-content: center;
			}
			.popup.active > div > img {
				width: 100%;
			}
			.popup.active > p {
				font-size: 1.5rem;
				color: green;
				text-align: center;
				margin-bottom: 1rem;
			}

			#popup-header {
				font-weight: normal;
				font-size: 2rem;
				text-align: center;
			}
			#popup-header span {
				font-weight: bold;
			}
			/* Overlay styling */
			.overlay {
				display: none;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 999;
			}

			.overlay.active {
				display: block;
			}

			/* Close button styling */
			.popup .close-btn {
				font-family: "Teko", sans-serif;
				font-optical-sizing: auto;
				font-weight: weight;
				font-style: normal;
				background-color: colors.$mainColor;
				color: colors.$color4;
				font-size: 1.5rem;
				padding: 0.2rem 1rem;
				border-radius: 5px;
				outline: none;
				text-decoration: none;
				cursor: pointer;

				span {
					display: inline-block;
					padding: 1px 10px;
					outline: none;
					border: 2px solid transparent;
					transition: border-color 0.3s ease;
				}
			}

			.popup .close-btn:focus span {
				outline: none;
				border-radius: 5px;
				border: 3px dashed colors.$color5;
			}
		}
	}
}

@media (max-width: 768px) {
	body {
		main {
			gap: 0;
			.registration-container {
				flex-direction: column;
				gap: 0;
				.form-container {
					display: flex;
					flex-direction: column;
					width: 80%;

					.h2-registration {
						font-size: 2rem;
						text-align: center;
					}
					form {
						display: flex;
						flex-direction: column;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	main {
		.form-container {
			.popup.active {
				width: 400px;
			}
			.popup.active > div > img {
				width: 80%;
			}
		}
	}
}

@media (max-width: 480px) {
	main {
		.form-container {
			.popup.active {
				width: 300px;
			}
			.popup.active > div > img {
				width: 60%;
			}
		}
	}
}
