@use "./colors.scss" as colors;

main {
	h1 > img {
		width: 15%;
	}
	.registration-container {
		display: flex;
		justify-content: space-between;
		justify-items: center;
		align-items: center;
		gap: 2rem;
		.registration-img {
			align-self: center;
			justify-self: center;
			width: 40%;
			flex-grow: 1;
			padding: 1.5rem;
		}
	}
	.form-container {
		display: flex;
		flex-direction: column;
		background-color: colors.$color2;
		padding: 2rem;
		flex-grow: 3;
		.h2-registration {
			font-size: 2rem;
		}

		form {
			display: flex;
			flex-direction: column;
			.form-titles {
				font-size: 2rem;
			}
			label {
				font-size: 1.5rem;
			}
			label,
			input[type="text"] {
				padding: 0.4rem 0;
				font-size: 1.5rem;
				width: 100%;
				border-radius: 5px;
			}
			.catvatar-option {
				display: flex;
				align-items: center;
				gap: 1rem;
				justify-content: start;
				margin-bottom: 1rem;
			}
			.catvatar-option > label {
				font-size: 1.7rem;
			}
			.catvatar-option > img {
				width: 20%;
			}
			#CatName {
				border: 1px solid colors.$color2;
				margin-bottom: 1rem;
				padding-left: 0.5rem;
			}
			#CatName:focus {
				border: 3px dashed colors.$color5;
				outline-style: none;
			}
			#catvatar {
				font-weight: bold;
			}
			.btn-register {
				font-family: "Teko", sans-serif;
				font-optical-sizing: auto;
				font-weight: weight;
				font-style: normal;
				text-decoration: none;
				background-color: colors.$mainColor;
				color: colors.$color4;
				font-size: 2rem;
				padding: 0.5rem 1rem;
				border-radius: 5px;
				border: none;
				cursor: pointer;

				&:focus {
					outline: none;
				}
				.btn-innerText {
					display: inline-block;
					padding: 1px 10px;
					outline: none;
					border: 2px solid transparent;
					transition: border-color 0.3s ease;
				}
			}
			.btn-register:focus .btn-innerText {
				border: 3px dashed colors.$color5;
			}
		}
	}
}

@media (max-width: 768px) {
	body {
		main {
			gap: 0;
			.registration-container {
				flex-direction: column;
				gap: 0;
				.form-container {
					display: flex;
					flex-direction: column;
					.h2-registration {
						font-size: 2rem;
						text-align: center;
					}
				}
			}
		}
	}
}
