@use "./colors.scss" as colors;

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	.schedule-img {
		width: 20%;
	}
	.schedule-h1 {
		font-size: 3rem;
		margin: 0;
	}
	.table-container {
		table {
			width: 100%;
			font-size: 1.5rem;
			//how to delete border
			border-collapse: collapse;
		}
		thead {
			background-color: colors.$color2;
			th {
				padding-right: 1.5rem;
			}
		}
		tbody {
			th {
				padding-right: 1.5rem;
			}
			td {
				padding-right: 4rem;
			}
		}
		.scheduleHead {
			text-align: start;
		}
		.noSpeaker {
			text-align: center;
		}
		caption {
			font-size: 1.5rem;
			caption-side: bottom;
			margin-top: 1rem;
			font-weight: bold;
			background-color: colors.$color2;
		}
	}
	.schedule-register {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		.schedule-message {
			text-align: center;
		}
		.btn-register {
			text-decoration: none;
			background-color: colors.$mainColor;
			color: colors.$color4;
			font-size: 1.5rem;
			padding: 0.5rem 1rem;
			border: none;
			border-radius: 5px;
			justify-self: center;
			align-self: center;
		}
		img {
			justify-self: center;
			align-self: center;
			width: 20%;
			padding: 1rem;
		}
	}
}

@media (max-width: 768px) {
	main {
		.schedule-img {
			width: 30%;
			padding: 1.5rem 0;
		}
		.schedule-register {
			margin-top: 2rem;
		}
	}
}
