@use "./colors.scss" as colors;

main {
	.schedule-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.schedule-img-container {
			text-align: center;
			padding: 0.5rem;
			margin-bottom: 1rem;
			img {
				width: 40%;
			}
		}
		.table-container {
			width: 100%;
			table {
				width: 100%;
				font-size: 1.5rem;
				//how to delete border
				border-collapse: collapse;
			}
			thead {
				background-color: colors.$color2;
				th {
					padding-right: 1.5rem;
				}
			}
			tbody {
				th {
					padding-right: 1.5rem;
				}
				td {
					padding-right: 4rem;
				}
			}
			.scheduleHead {
				text-align: start;
			}
			.noSpeaker {
				text-align: center;
			}
			caption {
				font-size: 2rem;
				margin-top: 1rem;
				padding: 0.5rem;
				background-color: colors.$color7;
				color: colors.$color3;
			}
		}
		.schedule-register {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.schedule-message {
				text-align: center;
			}
			img {
				justify-self: center;
				align-self: center;
				width: 20%;
				padding: 1rem;
			}
			.btn-register {
				text-decoration: none;
				background-color: colors.$mainColor;
				color: colors.$color4;
				font-size: 2rem;
				padding: 0.5rem 1rem;
				border-radius: 5px;
				&:focus {
					outline: none;
				}
				.btn-innerText {
					display: inline-block;
					padding: 1px 10px;
					outline: none;
					border-radius: 5px;
					border: 2px solid transparent;
					transition: border-color 0.3s ease;
				}
			}
			.btn-register:focus .btn-innerText {
				border-radius: 5px;
				border: 3px dashed colors.$color5;
			}
		}
	}
}

@media (max-width: 768px) {
	main {
		.schedule-img {
			width: 30%;
			padding: 1.5rem 0;
		}
		.schedule-register {
			margin-top: 2rem;
		}
	}
}
