@use "./colors.scss" as colors;

main {
	.sponsors-img {
		width: 20%;
		margin-bottom: 2rem;
	}
	.sponsors-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		place-items: center;
		gap: 3rem;
		.sponsors {
			align-self: start;
			justify-self: center;
			> h2 {
				text-align: center;
				line-height: 3rem;
			}
			> h3 {
				text-align: center;
				font-size: 1.5rem;
				margin: 0.5rem 0;
			}
			> ul {
				padding: 0;
				list-style-type: none;
			}
			> ul > .company {
				font-size: 1.5rem;
			}
		}
		.btn-register {
			text-decoration: none;
			background-color: colors.$mainColor;
			color: colors.$color4;
			font-size: 2rem;
			padding: 0.5rem 1rem;
			border-radius: 5px;
			&:focus {
				outline: none;
			}
			.btn-innerText {
				display: inline;
				padding: 1px 10px;
				outline: none;
				border: 2px solid transparent;
				transition: border-color 0.3s ease;
			}
		}
		.btn-register:focus .btn-innerText {
			border-radius: 5px;
			border: 3px dashed colors.$color5;
		}
	}
}

@media (max-width: 768px) {
	body {
		main {
			gap: 0;
			.sponsors-img {
				width: 40%;
				margin-bottom: 2rem;
			}
			.sponsors-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 2rem;
				align-items: center;
				.sponsors-img {
					width: 50%;
				}
				.sponsors {
					align-self: center;
					padding-top: 2rem;
				}
			}
		}
	}
}
