@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
header .burger-nav-dropdown {
  display: none;
}
header .header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header .header-container .header-logo {
  outline: none; /* Removes the default focus outline */
  border: 2px solid transparent; /* Initial transparent border */
  transition: border-color 0.3s ease; /* Smooth transition */
}
header .header-container .header-logo > img {
  height: 80px;
  padding: 2px;
}
header .header-container .header-logo:focus {
  border: 3px dashed #ffee00;
}
header .header-container nav .navigation-menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
}
header .header-container nav .navigation-menu li {
  display: inline;
}
header .header-container nav .navigation-menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  display: inline-block;
  padding: 4px 10px;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
header .header-container nav .navigation-menu li a:hover {
  color: #ffee00;
}
header .header-container nav .navigation-menu li a:focus {
  border: 3px dashed #ffee00;
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
  }
  header .burger-nav-dropdown {
    position: relative;
    display: inline-block;
    width: 50px;
    padding: 0.5rem;
  }
  header .burger-nav-dropdown .burger-dropbtn {
    cursor: pointer;
    width: 100%;
  }
  header .burger-nav-dropdown .burger-dropdown-content {
    display: none;
    font-size: 1.5rem;
    position: absolute;
    background-color: #eee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  header .burger-nav-dropdown .burger-dropdown-content a {
    color: #011b22;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  header .burger-nav-dropdown .burger-dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  header .burger-nav-dropdown .burger-dropdown-content a:focus {
    background-color: #ffee00;
  }
  header .burger-nav-dropdown:hover .burger-dropdown-content {
    display: block;
  }
  header .header-container {
    justify-content: flex-start;
  }
  header .header-container nav .navigation-menu {
    display: none;
  }
}
main h1 > img {
  width: 15%;
}
main .registration-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
main .registration-container .registration-img {
  align-self: center;
  justify-self: center;
  width: 40%;
  flex-grow: 1;
  padding: 1.5rem;
}
main .form-container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 2rem;
  flex-grow: 3;
  /* Overlay styling */
  /* Close button styling */
}
main .form-container .h2-registration {
  font-size: 2rem;
}
main .form-container form {
  display: flex;
  flex-direction: column;
}
main .form-container form .form-titles {
  font-size: 2rem;
}
main .form-container form label {
  font-size: 1.5rem;
}
main .form-container form label,
main .form-container form input[type=text] {
  padding: 0.4rem 0;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 5px;
}
main .form-container form .radio-group {
  display: flex;
  flex-direction: column;
}
main .form-container form .radio-group .radio-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: start;
  margin-bottom: 1rem;
  outline: none;
}
main .form-container form .radio-group .radio-item label {
  font-size: 1.7rem;
  cursor: pointer;
}
main .form-container form .radio-group .radio-item img {
  width: 20%;
  cursor: pointer;
  outline: none;
}
main .form-container form .radio-group .radio-item:focus {
  border: 3px dashed #0c3945;
  padding: 0 0.5rem;
}
main .form-container form #catName {
  border: 1px solid lightgray;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
main .form-container form #catName:focus {
  border: 3px dashed #0c3945;
  outline-style: none;
}
main .form-container form #catvatar {
  font-weight: bold;
}
main .form-container form .btn-register {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-decoration: none;
  background-color: #0c3945;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
main .form-container form .btn-register:focus {
  outline: none;
}
main .form-container form .btn-register .btn-innerText {
  display: inline-block;
  padding: 1px 10px;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
main .form-container form .btn-register:focus .btn-innerText {
  border: 3px dashed #ffee00;
}
main .form-container .popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
main .form-container .popup.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .form-container .popup.active > div {
  display: flex;
  justify-content: center;
}
main .form-container .popup.active > div > img {
  width: 100%;
}
main .form-container .popup.active > p {
  font-size: 1.5rem;
  color: green;
  text-align: center;
  margin-bottom: 1rem;
}
main .form-container #popup-header {
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
}
main .form-container #popup-header span {
  font-weight: bold;
}
main .form-container .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
main .form-container .overlay.active {
  display: block;
}
main .form-container .popup .close-btn {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #0c3945;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
main .form-container .popup .close-btn span {
  display: inline-block;
  padding: 1px 10px;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
main .form-container .popup .close-btn:focus span {
  border: 3px dashed #ffee00;
}

@media (max-width: 768px) {
  body main {
    gap: 0;
  }
  body main .registration-container {
    flex-direction: column;
    gap: 0;
  }
  body main .registration-container .form-container {
    display: flex;
    flex-direction: column;
  }
  body main .registration-container .form-container .h2-registration {
    font-size: 2rem;
    text-align: center;
  }
  body main .registration-container .form-container form {
    display: flex;
    flex-direction: column;
    width: 70vw;
  }
}
@media (max-width: 600px) {
  main .form-container .popup.active {
    width: 400px;
  }
  main .form-container .popup.active > div > img {
    width: 80%;
  }
}
@media (max-width: 480px) {
  main .form-container .popup.active {
    width: 300px;
  }
  main .form-container .popup.active > div > img {
    width: 60%;
  }
}
main h1 {
  font-size: 4rem;
}
main h1 > img {
  width: 15%;
}
main .schedule-img {
  width: 20%;
}
main .schedule-h1 {
  font-size: 3rem;
  margin: 0;
}
main .table-container table {
  width: 100%;
  font-size: 1.5rem;
  border-collapse: collapse;
}
main .table-container thead {
  background-color: lightgray;
}
main .table-container thead th {
  padding-right: 1.5rem;
}
main .table-container tbody th {
  padding-right: 1.5rem;
}
main .table-container tbody td {
  padding-right: 4rem;
}
main .table-container .scheduleHead {
  text-align: start;
}
main .table-container .noSpeaker {
  text-align: center;
}
main .table-container caption {
  font-size: 1.5rem;
  caption-side: bottom;
  margin-top: 1rem;
  font-weight: bold;
  background-color: lightgray;
}
main .schedule-register {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .schedule-register .schedule-message {
  text-align: center;
}
main .schedule-register .btn-register {
  text-decoration: none;
  background-color: #0c3945;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  justify-self: center;
  align-self: center;
}
main .schedule-register img {
  justify-self: center;
  align-self: center;
  width: 20%;
  padding: 1rem;
}

@media (max-width: 768px) {
  main .schedule-img {
    width: 30%;
    padding: 1.5rem 0;
  }
  main .schedule-register {
    margin-top: 2rem;
  }
}
main h1 > img {
  width: 15%;
}
main .sponsors-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 1fr 0.7fr 0.7fr 0.5fr;
  place-items: center;
}
main .sponsors-container .sponsors-header {
  grid-column: 1/-1;
  place-self: center;
}
main .sponsors-container .sponsors-img {
  grid-column: 1/-1;
  width: 30%;
  margin: 2rem 0;
}
main .sponsors-container .sponsors {
  align-self: start;
  justify-self: center;
  padding: 0 1rem;
}
main .sponsors-container .sponsors > h2 {
  text-align: center;
}
main .sponsors-container .sponsors > ul {
  padding: 0;
  list-style-type: none;
}
main .sponsors-container .sponsors > ul > .company {
  font-size: 1.5rem;
}
main .sponsors-container #btn-register {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  background-color: #0c3945;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  body main {
    gap: 0;
  }
  body main .sponsors-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  body main .sponsors-container .sponsors-img {
    width: 50%;
  }
  body main .sponsors-container .sponsors {
    align-self: center;
  }
}
main h1 > img {
  width: 15%;
}
main .previousCatCont-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
main .previousCatCont-container .previousCon-star-img {
  width: 20%;
}
main .previousCatCont-container .previousCatCon-moments-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2fr, 7);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 1rem;
  border: 2px solid lightgray;
}
main .previousCatCont-container .previousCatCon-moments-container .previousCatCont-h3 {
  background-color: lightgray;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
main .previousCatCont-container .previousCatCon-moments-container iframe {
  width: 100%;
}
main .previousCatCont-container .previousCatCon-moments-container #first-h3,
main .previousCatCont-container .previousCatCon-moments-container #second-h3,
main .previousCatCont-container .previousCatCon-moments-container #third-h3,
main .previousCatCont-container .previousCatCon-moments-container #gif-7 {
  grid-column: 1/-1;
}
main .previousCatCont-container .previousCatCon-moments-container #gif-7 {
  padding-bottom: 1rem;
}
main .previousCon-message .previousCon-message-p1 {
  font-size: 2rem;
  text-align: center;
}
main .previousCon-message .previousCon-message-p2 {
  font-size: 1.5rem;
  text-align: center;
}
main .previousCon-writting-img {
  width: 15%;
}
main #btn-register {
  align-self: center;
  text-decoration: none;
  background-color: #0c3945;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  main .previousCatCont-container {
    gap: 1rem;
  }
  main .previousCatCont-container .previousCon-star-img {
    width: 40%;
  }
  main .previousCatCon-moments-container {
    row-gap: 0;
  }
  main .previousCon-writting-img {
    width: 30%;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c3945;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 2rem 10rem;
}
body .header-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
body .header-main-container main {
  border: 30px solid #00bcf2;
  background-color: #eee;
  padding: 2rem;
  color: #011b22;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
body .header-main-container main .main-title-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
body .header-main-container main .main-title-container h1 {
  font-size: 4rem;
  text-align: center;
}
body .header-main-container main .main-title-container .main-title-img {
  width: 15%;
}
body .header-main-container main .main-title-container .main-title-img img {
  width: 100%;
}
body .header-main-container main .section-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
body .header-main-container main .section-welcome .img-index {
  width: 25%;
  margin: 1rem 1rem 0 0;
}
body .header-main-container main .section-welcome p {
  font-size: 2rem;
  text-align: center;
}
body .header-main-container main .section-welcome .btn-register {
  text-decoration: none;
  background-color: #0c3945;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
body .header-main-container main .section-welcome .btn-register:focus {
  outline: none;
}
body .header-main-container main .section-welcome .btn-register .btn-innerText {
  display: inline-block;
  padding: 1px 10px;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
body .header-main-container main .section-welcome .btn-register:focus .btn-innerText {
  border: 3px dashed #ffee00;
}

@media (max-width: 1100px) {
  body {
    margin: 2rem 6rem;
  }
}
@media (max-width: 900px) {
  body {
    margin: 2rem 4rem;
  }
}
@media (max-width: 600px) {
  body .header-main-container main .main-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  body {
    margin: 0.2rem 0;
  }
  body .header-main-container {
    width: 100%;
  }
  body .header-main-container main {
    border: 8px solid #00bcf2;
    background-color: #eee;
    padding: 1rem 0.5rem;
  }
  body .header-main-container main .section-welcome .img-index {
    width: 40%;
    margin: 0;
  }
  body .header-main-container main .section-welcome .btn-register {
    margin-top: 1rem;
  }
}/*# sourceMappingURL=style.css.map */