@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
header .burger-nav-dropdown {
  display: none;
}
header .header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header .header-container .header-logo {
  outline: none; /* Removes the default focus outline */
  border: 2px solid transparent; /* Initial transparent border */
  transition: border-color 0.3s ease; /* Smooth transition */
}
header .header-container .header-logo > img {
  height: 80px;
  padding: 2px;
}
header .header-container .header-logo:focus {
  border-radius: 5px;
  border: 3px dashed #ffee00;
}
header .header-container nav .navigation-menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
}
header .header-container nav .navigation-menu li {
  display: inline;
}
header .header-container nav .navigation-menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  display: inline-block;
  padding: 4px 10px;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
header .header-container nav .navigation-menu li a:hover {
  color: #ffee00;
}
header .header-container nav .navigation-menu li a:focus {
  border-radius: 5px;
  border: 3px dashed #ffee00;
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
  }
  header .burger-nav-dropdown {
    position: relative;
    display: inline-block;
    width: 50px;
    padding: 0.5rem;
  }
  header .burger-nav-dropdown .burger-dropbtn {
    cursor: pointer;
    width: 100%;
  }
  header .burger-nav-dropdown .burger-dropdown-content {
    display: none;
    font-size: 1.5rem;
    position: absolute;
    background-color: #eee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  header .burger-nav-dropdown .burger-dropdown-content a {
    color: #011b22;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  header .burger-nav-dropdown .burger-dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  header .burger-nav-dropdown .burger-dropdown-content a:focus {
    background-color: #ffee00;
  }
  header .burger-nav-dropdown:hover .burger-dropdown-content {
    display: block;
  }
  header .header-container {
    justify-content: flex-start;
  }
  header .header-container nav .navigation-menu {
    display: none;
  }
}
main h1 > img {
  width: 15%;
}
main .registration-container {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  width: 100%;
}
main .registration-container .registration-img {
  padding: 2rem;
  text-align: center;
  width: 50%;
}
main .registration-container .registration-img img {
  width: 80%;
}
main .registration-container .form-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 83%);
  padding: 2rem;
  width: 50%;
  border-radius: 5px;
  /* Overlay styling */
  /* Close button styling */
}
main .registration-container .form-container .h2-registration {
  font-size: 3rem;
  color: #003c4c;
}
main .registration-container .form-container form {
  display: flex;
  flex-direction: column;
}
main .registration-container .form-container form .form-titles {
  font-size: 2rem;
}
main .registration-container .form-container form label {
  font-size: 1.5rem;
}
main .registration-container .form-container form label,
main .registration-container .form-container form input[type=text] {
  padding: 0.4rem 0;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 5px;
}
main .registration-container .form-container form .radio-group {
  display: flex;
  flex-direction: column;
}
main .registration-container .form-container form .radio-group .radio-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: start;
  margin-bottom: 1rem;
  outline: none;
}
main .registration-container .form-container form .radio-group .radio-item label {
  font-size: 1.7rem;
  cursor: pointer;
}
main .registration-container .form-container form .radio-group .radio-item img {
  width: 20%;
  cursor: pointer;
  outline: none;
}
main .registration-container .form-container form .radio-group .radio-item:focus {
  border-radius: 5px;
  border: 3px dashed #0c3945;
  padding: 0 0.5rem;
}
main .registration-container .form-container form #catName {
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 83%);
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
main .registration-container .form-container form #catName:focus {
  border-radius: 5px;
  border: 3px dashed #0c3945;
  outline-style: none;
}
main .registration-container .form-container form #catvatar {
  font-weight: bold;
}
main .registration-container .form-container form .btn-register {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-decoration: none;
  background-color: #0c3945;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  align-self: center;
  cursor: pointer;
}
main .registration-container .form-container form .btn-register:focus {
  outline: none;
}
main .registration-container .form-container form .btn-register .btn-innerText {
  display: inline-block;
  padding: 1px 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
main .registration-container .form-container form .btn-register:focus .btn-innerText {
  border-radius: 5px;
  border: 3px dashed #ffee00;
}
main .registration-container .form-container .popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
main .registration-container .form-container .popup.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .registration-container .form-container .popup.active > div {
  display: flex;
  justify-content: center;
}
main .registration-container .form-container .popup.active > div > img {
  width: 100%;
}
main .registration-container .form-container .popup.active > p {
  font-size: 1.5rem;
  color: green;
  text-align: center;
  margin-bottom: 1rem;
}
main .registration-container .form-container #popup-header {
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
}
main .registration-container .form-container #popup-header span {
  font-weight: bold;
}
main .registration-container .form-container .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
main .registration-container .form-container .overlay.active {
  display: block;
}
main .registration-container .form-container .popup .close-btn {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #0c3945;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
main .registration-container .form-container .popup .close-btn span {
  display: inline-block;
  padding: 1px 10px;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
main .registration-container .form-container .popup .close-btn:focus span {
  outline: none;
  border-radius: 5px;
  border: 3px dashed #ffee00;
}

@media (max-width: 768px) {
  body main {
    gap: 0;
  }
  body main .registration-container {
    flex-direction: column;
    gap: 0;
  }
  body main .registration-container .form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  body main .registration-container .form-container .h2-registration {
    font-size: 2rem;
    text-align: center;
  }
  body main .registration-container .form-container form {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  main .form-container .popup.active {
    width: 400px;
  }
  main .form-container .popup.active > div > img {
    width: 80%;
  }
}
@media (max-width: 480px) {
  main .form-container .popup.active {
    width: 300px;
  }
  main .form-container .popup.active > div > img {
    width: 60%;
  }
}
main .schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .schedule-container .schedule-img-container {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
main .schedule-container .schedule-img-container img {
  width: 40%;
}
main .schedule-container .table-container {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  border: 3px solid #003c4c;
}
main .schedule-container .table-container table {
  width: 100%;
  font-size: 1.5rem;
  border-collapse: collapse;
}
main .schedule-container .table-container caption {
  font-size: 2rem;
  padding: 0.5rem;
  background-color: #003c4c;
  color: #eee;
}
main .schedule-container .table-container thead {
  background-color: hsl(0, 0%, 83%);
}
main .schedule-container .table-container thead tr {
  font-size: 1.7rem;
  background-color: #3dd2ff;
}
main .schedule-container .table-container thead tr th {
  padding-right: 1.5rem;
}
main .schedule-container .table-container thead tr th img {
  width: 20%;
  padding-top: 0.5rem;
}
main .schedule-container .table-container tbody tr:nth-child(odd) {
  background-color: #fff;
}
main .schedule-container .table-container tbody tr:nth-child(even) {
  background-color: hsl(0, 0%, 83%);
}
main .schedule-container .table-container tbody th {
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
}
main .schedule-container .table-container tbody td {
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.3rem;
}
main .schedule-container .table-container tbody td img {
  width: 2rem;
}
main .schedule-container .table-container .scheduleHead {
  text-align: start;
}
main .schedule-container .table-container .noSpeaker {
  text-align: center;
}
main .schedule-container .schedule-register {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .schedule-container .schedule-register .schedule-message {
  text-align: center;
}
main .schedule-container .schedule-register img {
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  width: 30%;
  padding: 1rem;
}
main .schedule-container .schedule-register h3 {
  font-size: 1.5rem;
}
main .schedule-container .schedule-register .btn-register {
  text-decoration: none;
  background-color: #0c3945;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
main .schedule-container .schedule-register .btn-register:focus {
  outline: none;
}
main .schedule-container .schedule-register .btn-register .btn-innerText {
  display: inline-block;
  padding: 1px 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
main .schedule-container .schedule-register .btn-register:focus .btn-innerText {
  border-radius: 5px;
  border: 3px dashed #ffee00;
}

@media (max-width: 768px) {
  main .schedule-container .table-container thead tr th img {
    width: 30%;
  }
  main .schedule-container .schedule-img {
    width: 30%;
    padding: 1.5rem 0;
  }
  main .schedule-container .schedule-register {
    margin-top: 2rem;
  }
  main .schedule-container .schedule-register img {
    width: 40%;
  }
}
@media (max-width: 500px) {
  main .schedule-container .table-container thead tr th img {
    width: 50%;
  }
}
@media (max-width: 400px) {
  main .schedule-container .table-container thead tr th img {
    width: 60%;
  }
}
main .sponsors-img {
  width: 20%;
  margin-bottom: 2rem;
}
main .sponsors-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 3rem;
}
main .sponsors-container .sponsors {
  align-self: start;
  justify-self: center;
}
main .sponsors-container .sponsors > h2 {
  text-align: center;
  line-height: 3rem;
}
main .sponsors-container .sponsors > h3 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
main .sponsors-container .sponsors > ul {
  padding: 0;
  list-style-type: none;
}
main .sponsors-container .sponsors > ul > .company {
  font-size: 1.5rem;
}
main .sponsors-container .btn-register {
  text-decoration: none;
  background-color: #0c3945;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
main .sponsors-container .btn-register:focus {
  outline: none;
}
main .sponsors-container .btn-register .btn-innerText {
  display: inline;
  padding: 1px 10px;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
main .sponsors-container .btn-register:focus .btn-innerText {
  border-radius: 5px;
  border: 3px dashed #ffee00;
}

@media (max-width: 768px) {
  body main {
    gap: 0;
  }
  body main .sponsors-img {
    width: 40%;
    margin-bottom: 2rem;
  }
  body main .sponsors-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  body main .sponsors-container .sponsors-img {
    width: 50%;
  }
  body main .sponsors-container .sponsors {
    align-self: center;
    padding-top: 2rem;
  }
}
main .previousCatCont-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
main .previousCatCont-container > h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  color: #003c4c;
}
main .previousCatCont-container .previousCon-star-img {
  width: 20%;
  padding: 1rem;
}
main .previousCatCont-container .previousCatCon-moments-container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  border: 3px solid #003c4c;
  background-color: hsl(0, 0%, 83%);
}
main .previousCatCont-container .previousCatCon-moments-container .previousCatCon-h3 {
  background-color: #003c4c;
  color: #eee;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
main .previousCatCont-container .previousCatCon-moments-container .previousCatCon-h3 > span {
  font-weight: normal;
  letter-spacing: 1px;
}
main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}
main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images > img {
  width: 12.5rem;
}
main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-6,
main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
  height: 12.5rem;
}
main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
  width: 20rem;
}
main .previousCon-message {
  text-align: center;
}
main .previousCon-message .previousCon-message-p1 {
  font-size: 2rem;
}
main .previousCon-message .previousCon-message-p2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #003c4c;
}
main .previousCon-message .previousCon-writting-img {
  padding: 1rem;
  width: 20%;
}
main .btn-register {
  margin-top: 1.5rem;
  text-decoration: none;
  background-color: #0c3945;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
main .btn-register:focus {
  outline: none;
}
main .btn-register .btn-innerText {
  display: inline-block;
  padding: 1px 10px;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
main .btn-register:focus .btn-innerText {
  border-radius: 5px;
  border: 3px dashed #ffee00;
}

@media (max-width: 850px) {
  main .previousCatCont-container .previousCon-star-img {
    width: 40%;
  }
  main .previousCatCont-container .previousCatCon-moments-container {
    width: 100%;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images {
    padding: 1rem;
    gap: 1rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images > img {
    width: 10rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-6,
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
    height: 10rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
    width: 20rem;
  }
  main .previousCatCont-container .previousCon-writting-img {
    width: 30%;
  }
}
@media (max-width: 800px) {
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images {
    padding: 1rem;
    gap: 1rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images > img {
    width: 10rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-6,
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
    height: 10rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
    width: 20rem;
  }
  main .previousCatCont-container .previousCon-writting-img {
    width: 30%;
  }
}
@media (max-width: 768px) {
  main .previousCatCont-container .previousCon-star-img {
    width: 40%;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images > img {
    width: 12.5rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-6,
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
    height: 12.5rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
    width: 20rem;
  }
  main .previousCatCont-container .previousCon-writting-img {
    width: 30%;
  }
}
@media (max-width: 650px) {
  main .previousCatCont-container .previousCatCon-moments-container {
    width: 90%;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images {
    flex-direction: column;
    gap: 1rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images > img {
    width: 20rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-6,
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
    height: 20rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
    width: 30rem;
  }
}
@media (max-width: 500px) {
  main .previousCatCont-container .previousCatCon-moments-container {
    width: 90%;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images {
    flex-direction: column;
    gap: 1rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images > img {
    width: 10rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-6,
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
    height: 10rem;
  }
  main .previousCatCont-container .previousCatCon-moments-container .previousCatcon-images #gif-7 {
    width: 15rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c3945;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 2rem 10rem;
}
body h1 {
  font-size: 4rem;
  text-align: center;
}
body h2 {
  font-size: 3rem;
  text-align: center;
  color: #003c4c;
}
body .header-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
body .header-main-container main {
  border: 30px solid #00bcf2;
  background-color: #eee;
  padding: 2rem;
  color: #011b22;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
}
body .header-main-container main .main-title-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
body .header-main-container main .main-title-container .main-title-img {
  width: 15%;
}
body .header-main-container main .main-title-container .main-title-img img {
  width: 100%;
}
body .header-main-container main .section-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
body .header-main-container main .section-welcome .img-index {
  width: 25%;
  margin: 1rem 1rem 0 0;
}
body .header-main-container main .section-welcome p {
  font-size: 2rem;
  text-align: center;
}
body .header-main-container main .section-welcome .btn-register {
  text-decoration: none;
  background-color: #0c3945;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
body .header-main-container main .section-welcome .btn-register:focus {
  outline: none;
}
body .header-main-container main .section-welcome .btn-register .btn-innerText {
  display: inline -block;
  padding: 1px 10px;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
body .header-main-container main .section-welcome .btn-register:focus .btn-innerText {
  border-radius: 5px;
  border: 3px dashed #ffee00;
}
body footer {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #fff;
  text-align: right;
}
body footer a {
  text-decoration: underline;
  color: #fff;
  padding: 0.2rem;
}
body footer a:hover {
  color: #ffee00;
}
body footer a:focus {
  outline: none;
  text-decoration: none;
  border-radius: 5px;
  border: 3px dashed #ffee00;
}

@media (max-width: 1100px) {
  body {
    margin: 2rem 6rem;
  }
}
@media (max-width: 900px) {
  body {
    margin: 2rem 4rem;
  }
}
@media (max-width: 768px) {
  body {
    margin: 0.2rem 0;
  }
  body .header-main-container {
    width: 100%;
  }
  body .header-main-container main {
    border: 8px solid #00bcf2;
    background-color: #eee;
    padding: 1rem 0.5rem;
  }
  body .header-main-container main .section-welcome .img-index {
    width: 40%;
    margin: 0;
  }
  body .header-main-container main .section-welcome .btn-register {
    margin-top: 1rem;
  }
  body footer {
    margin-right: 1rem;
  }
}
@media (max-width: 600px) {
  body .header-main-container main .main-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */